
@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>HR Vacation</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/spicy/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="~/spicy/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="~/spicy/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="~/spicy/images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/spicy/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->
<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="~/spicy/images/loading.gif" alt="#" /></div>
    </div>
    <!-- end loader -->
    <!-- header -->
    <header>
        <!-- header inner -->
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo">
                                    <a href="/Home/Index"><img src="~/spicy/images/humanirclogo-1-2-new-22.png" alt="#" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <nav class="navigation navbar navbar-expand-md navbar-dark ">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarsExample04">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">About </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Customers</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Contact</a>
                                    </li>
                                </ul>
                                <div class="Call"><a href="#"> <span class="yellow">Call Us : </span>(216) 688 8323</a></div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header inner -->
    <!-- end header -->

    <!-- banner -->
    <section class="banner_main">
        <div class="container">
            <div class="row d_flex">
                @RenderBody()
            </div>
        </div>

    </section>
    <!-- end banner -->


    <!-- food --> 
    <div class="food">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2> <strong class="yellow"> Uzmanlık </strong>Alanlarımız</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="food_box">
                        <i>
                            <img src="~/spicy/images/1.jpg" />
                        </i>
                        <h4>DEĞERLENDİRME MERKEZİ</h4>
                        <p>
                            Birden fazla ölçme ve değerlendirme yöntemiyle,
                            Değerlendirilecek rol ve yetkinliğe uygun bir çok farklı aracın birlikte kullanıldığı,
                            Birden fazla danışmanın (değerlendiricinin) uzlaşarak karara vardığı,
                            Kişiye özelleştirilmiş detaylı rapor ve iş hayatına yönelik aksiyon adımlarını içeren, böylece önyargılardan arındırılmış tarafsız bakış açısıyla seçme yerleştirme ve kariyer yönetimi süreçlerine değer katıyoruz.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="food_box ">
                        <i>
                            <img src="~/spicy/images/2.jpg" />
                        </i>
                        <h4>YÖNETİCİ SEÇME YERLEŞTİRME</h4>
                        <p>
                            Birden fazla ölçme ve değerlendirme yöntemiyle,
                            Değerlendirilecek rol ve yetkinliğe uygun bir çok farklı aracın birlikte kullanıldığı,
                            Birden fazla danışmanın (değerlendiricinin) uzlaşarak karara vardığı,
                            Kişiye özelleştirilmiş detaylı rapor ve iş hayatına yönelik aksiyon adımlarını içeren, böylece önyargılardan arındırılmış tarafsız bakış açısıyla seçme yerleştirme ve kariyer yönetimi süreçlerine değer katıyoruz.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="food_box">
                        <i>
                            <img src="~/spicy/images/3.jpg" />
                        </i>
                        <h4>GELİŞİM AKADEMİSİ</h4>
                        <p>HumanGroup Gelişim Akademisi altında, kurumların öğrenme çevikliği kültürü oluşturmalarına ve bireylerin 21. yy yetkinlikleri kazanmalarına odaklı programlarımızı kuruma ve kişiye özel tasarlıyoruz. İş hayatında hemen uygulanabilir araçlarla ve interaktif uygulamalarla zenginleştirilen programlarımızı, analında uzman danışmanlarımızla sunuyoruz. Hem yüz yüze hem de online olarak düzenlenebilen gelişim akademisi programlarımız ile kalıcı bir eğitim ve gelişim deneyimi yaratıyoruz.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end food -->


    <!--  footer -->
    <footer>
        <div class="footer">
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p>Copyright 2023 All Right Reserved By <a href="https://humangroup.biz/"> <b>HUMAN GROUP</b></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- Javascript files-->
    <script src="~/spicy/js/jquery.min.js"></script>
    <script src="~/spicy/js/popper.min.js"></script>
    <script src="~/spicy/js/bootstrap.bundle.min.js"></script>
    <script src="~/spicy/js/jquery-3.0.0.min.js"></script>
    <!-- sidebar -->
    <script src="~/spicy/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/spicy/js/custom.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
</body>
</html>

